.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004D26;
    padding: 0 25px;
    transition: 0.5s;
    min-height: 50px;
    
}